<template>
    <div class="text-center section">
        <v-calendar
                class="custom-calendar max-w-full"
                ref="calendar"
                :masks="masks"
                :attributes="permits"
                disable-page-swipe
                v-on:from-page="showEvent()"
                is-expanded>
            <template v-slot:day-content="{ day, attributes }">
                <div class="flex flex-col h-full z-10 overflow-hidden">
                    <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
                    <div class="flex-grow overflow-y-auto overflow-x-auto">
                        <p v-for="attr in attributes"
                           class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1 font-weight-bold"
                           :class="attr.customData.class">
                            {{ attr.customData.title }}
                            <br>
                            <small>{{ attr.customData.author }}</small>
                        </p>
                    </div>
                </div>
            </template>
        </v-calendar>
    </div>
</template>

<script>
    export default {
        props: ['permitsProp'],
        data() {
            const month = new Date().getMonth();
            const year = new Date().getFullYear();
            return {
                permits: {},
                masks: {
                    weekdays: 'WWW',
                },
            };
        },
        mounted () {
            this.permits = this.permitsProp;
        }
    };
</script>