<template>
    <div>
        <div class="col-4 mb-5 offset-4">
            <div class="text-center">
                <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tio-search"></i>
                        </div>
                    </div>
                    <input type="text" v-model="search" placeholder="Cerca utenti" class="form-control" aria-label="Search users">
                </div>
            </div>
        </div>
        <div class="row justify-content-lg-center">
            <div class="col-lg-12">
                <div class="tab-content" id="connectionsTabContent">
                    <div class="tab-pane fade show active" id="grid" role="tabpanel" aria-labelledby="grid-tab">
                        <!-- Connections -->
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3">
                            <div class="col mb-3 mb-lg-5" v-for="user in usersList">
                                <!-- Card -->
                                <div class="card h-100">
                                    <!-- Body -->
                                    <div class="card-body text-center">
                                        <!-- Avatar -->
                                        <div class="avatar avatar-xl avatar-soft-primary avatar-circle avatar-border-lg avatar-centered mb-3">
                                            <span class="avatar-initials">R</span>
                                            <span class="avatar-status avatar-sm-status avatar-status-warning"></span>
                                        </div>
                                        <!-- End Avatar -->

                                        <h3 class="mb-1">
                                            <a class="text-dark" href="#">{{user.first_name}} {{user.last_name}}</a>
                                        </h3>

                                        <div class="mb-3">
                                            <i class="tio-city mr-1"></i>
                                            <span>Mansione</span>
                                        </div>

                                        <!-- Badges -->
                                        <ul class="list-inline list-inline-m-1 mb-0">
                                            <li class="list-inline-item"><a class="badge badge-soft-secondary p-2" href="#">PHP</a></li>
                                            <li class="list-inline-item"><a class="badge badge-soft-secondary p-2" href="#">Sketch</a></li>
                                            <li class="list-inline-item"><a class="badge badge-soft-secondary p-2" href="#">Figma</a></li>
                                        </ul>
                                        <!-- End Badges -->
                                    </div>
                                    <!-- End Body -->

                                    <!-- Footer -->
                                    <div class="card-footer">
                                        <div class="row justify-content-between align-items-center">
                                            <div class="col-auto py-1">
                                                <a class="font-size-sm text-body" href="#">#n Segnalazioni</a>
                                            </div>

                                            <div class="col-auto py-1">
                                                <!-- Checkbox -->
                                                <button type="button" class="btn btn-primary" v-on:click="openReportModal(user)">
                                                    <i class="tio-report mr-1"></i> Segnala
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="reportModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalTopCoverTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <!-- Header -->
                    <div class="modal-top-cover bg-dark text-center">
                        <figure class="position-absolute right-0 bottom-0 left-0" style="margin-bottom: -1px;">
                            <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
                                <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"/>
                            </svg>
                        </figure>

                        <div class="modal-close">
                            <button type="button" class="btn btn-icon btn-sm btn-ghost-light" data-dismiss="modal" aria-label="Close">
                                <svg width="16" height="16" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <!-- End Header -->

                    <div class="modal-top-cover-icon">
                        <span class="icon icon-lg icon-light icon-circle icon-centered shadow-soft">
                          <i class="tio-report-outlined"></i>
                        </span>
                    </div>

                    <div class="modal-body">
                        <h4 class="modal-title mb-4 text-center" id="exampleModalCenterTitle">Segnala {{selectedUser.first_name}}</h4>

                        <div class="form-group">
                            <p class="mt-5">Motivo segnalazione</p>
                            <textarea id="exampleFormControlTextarea1" maxlength="200" class="form-control" placeholder="Massimo 200 caratteri" rows="4"></textarea>
                        </div>

                        <div class="form-group">
                            <p class="mt-3">Carica Files</p>
                            <vue2-dropzone
                                    v-on:vdropzone-removed-file="removedFileEvent"
                                    v-on:vdropzone-sending="sendingEvent"
                                    v-on:vdropzone-error="addError"
                                    :useCustomSlot=true
                                    ref="rate_file" id="rate_file"
                                    v-on:vdropzone-success="onUploadSuccess"
                                    :options="dropzoneOptions">

                                <div class="dropzone-custom-content">
                                    <h3 class="dropzone-custom-title">Trascina qui i file da caricare</h3>
                                    <div class="subtitle">...o clicca per selezionarli dal tuo computer</div>
                                </div>
                            </vue2-dropzone>
                        </div>

                        <p class="mt-5">Votazione Finale</p>
                        <star-rating @leaveRate="saveRate"></star-rating>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">Chiudi</button>
                        <button v-on:click="leaveReport" type="button" class="btn btn-primary">Segnala</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        Copy

    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.min.css'

    export default {
        props: ['usersProp', 'uploadUrlProp', 'csrf'],
        components: {
            vue2Dropzone: vue2Dropzone
        },
        data() {
            return {
                file: [],
                search: '',
                users: [],
                selectedUser: {},
                rate: null,
                dropzoneOptions: {
                    dictFileTooBig: "File troppo grande",
                    dictRemoveFile: "Rimuovi file",
                    addRemoveLinks: true,
                    label: "Carta di identità",
                    paramName: "rate_file",
                    url: this.uploadUrlProp,
                    thumbnailWidth: 150,
                    maxFilesize: 10,
                }
            };
        },
        mounted () {
            this.users = this.usersProp;
        },
        methods: {
            saveRate(rate) {
                this.rate = rate;
            },
            openReportModal(user) {
                this.selectedUser = user;
                $('#reportModal').modal()
            },
            onUploadSuccess(file, response) {
                let self = this;

                let fileData = response[0];
                let fieldName = fileData.field_name;
                if (self.file === undefined) {
                    self.file = [];
                }

                self.file.push(fileData);
            },
            sendingEvent(file, xhr, formData) {
                formData.append('_token', this.csrf);
            },
            removedFileEvent(file) {
                if (file.status === 'error') {
                    this.$emit('cleanErrors');
                } else {
                    let category = file.field_name;
                    let key = this.data[category].indexOf(file);
                    this.data[category].splice(key, 1);
                }
            },
            addError() {

            },
            leaveReport() {
                alert('segnala')
            }

        },
        computed: {
            usersList() {
                return this.users.filter((user) => {
                    let fullName = user.first_name + user.last_name;

                    return fullName.toLowerCase().includes(this.search.toLowerCase())
                })
            }
        }
    };
</script>